#caesar {
    font-family: 'Caesar Dressing', cursive;
}

#creepster {
    font-family: 'Creepster', cursive;
}

#lancelot {
    font-family: 'Lancelot', cursive;
}

#lora {
    font-family: 'Lora', serif;
}

#meow {
    font-family: 'Meow Script', cursive;
    font-size: 22px;
}

#monoton {
    font-family: 'Monoton', cursive;   
}

#montserrat {
    font-family: 'Montserrat Subrayada', sans-serif;
}

#oswald {
    font-family: 'Oswald', sans-serif;
}