@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&family=Creepster&family=Lancelot&family=Lora:wght@500&family=Meow+Script&family=Monoton&family=Montserrat+Subrayada&family=Oswald&display=swap');

p { 
	margin-top: 0; 

	}
h3 { 
	font: italic normal 1.4em georgia, sans-serif;
	letter-spacing: 1px; 
	margin-bottom: 0; 
	color: #7D775C;
	}


header {
	padding-top: 20px;
	height: 87px;
}